<!DOCTYPE html>
<html>
<head>
  <title>Peak flow rails error reporter</title>
  <%= stylesheet_link_tag    "peak_flow_rails_error_reporter/application", media: "all" %>
  <%= javascript_include_tag "peak_flow_rails_error_reporter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
